<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webapp.mapper.employeMapper">
    <!--    配置查询所有 id为方法名 resultType指定封装的实体类型-->
    <select id="getEmployee" resultType="java.util.HashMap">
       select e.*,d.deptname,da.dno from employee e,dept d, depall da where e.deptno=d.id and d.deptno=da.dno and e.deptno=#{deptId} order by e.employno limit #{page},#{size}
    </select>
    <select id="getEmoloyeByKeyWord" resultType="com.example.webapp.bean.Employe">
select e.* ,d.deptname,da.dno from  employee e,dept d,depall da where e.employno like concat('%',#{keyword},'%') or e.employname like concat('%',#{keyword},'%')
AND  e.deptno=d.id GROUP BY e.employno order by e.employno  limit #{page},#{size}
    </select>
    <select id="getKeyWordSearchCount" resultType="java.lang.Integer">
    select count(DISTINCT e.employno) as count from  employee e,dept d where e.employno like concat('%',#{keyword},'%') or e.employname like concat('%',#{keyword},'%') AND  e.deptno=d.id
    </select>
    <select id="getEmployeNoCovid" resultType="com.example.webapp.bean.Employe">
        SELECT DISTINCT e.*from employee e,dept d WHERE e.employno
in (select c.employid from covidinfo c WHERE c.depallid=#{dno} AND threeInoculation='false' )
AND e.deptno=d.id  AND d.deptno=#{dno} limit #{page},#{size}
    </select>

</mapper>

